.navigation {
    display: flex;
    @include font (1.4rem, 2.4rem);
}
.navigation__link {
    list-style: none;
    padding: 0 10px;
    cursor: pointer;
    @extend %transition;
    &:hover {
        color: $color-additional;
        text-decoration: underline;
    }
}