.promo {
    padding: 60px 0 97px 0;
    background-image: url("../../img/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    color: $color-light;
}
.promo__wrapper {
    display: flex;
    text-align: center;
}
.promo__description {        
padding: 0 40px 130px 0;
@include font (1.4rem, 2.6rem, normal);
letter-spacing: 0.2rem;
}

.promo__icons {
    opacity: 0.8;
}
