.button {
    font-family: 'Open Sans', Verdana, sans-serif;
    padding: 11px 25px 13px;
    @include font (1.6rem, $height: 2.2rem, $weight: normal);
    border-radius: 4px;
    cursor: pointer;
    @extend %transition;
    outline: none;

    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;    
    &:hover {
        color: $color-light;
        background: $color-hovered;
        background-color: $color-hovered;
    }
}