.button {
    font-family: 'Open Sans', Verdana, sans-serif;
    padding: 10px 20px;
    @include font (1.6rem, $height: 2.2rem);
    border-radius: 4px;
    cursor: pointer;
    @extend %transition;
    outline: none;

    background: $color-light;
    border: 1px solid $color-border;
    color: $color-text;    
    &:hover {
        border: 1px solid $color-additional;
        color: $color-additional;
    }
}