.header {
    background-color: $color-light;
    padding: 15px 0px 17px 0;
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons>.button:first-child {
    margin-right: 14px;
}