.header {
    background-color: $color-light;
    padding: 10px 0px 12px 0;
    border-bottom: 4px solid rgb(146, 60, 60);
}
.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons>.button:first-child {
    margin-right: 14px;
}